<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:replace="fragments/menucash :: header-css"/>
</head>
<body>

<div th:replace="fragments/menucash :: header"/>

<div class="container">

    <H2>Duties</H2>
    <form action="/cash/duties/open_duties" th:object="${duties}" method="post">

        <table class="table table-bordered table-hover table-striped">
            <thead>
            <tr>
                <th>Id</th>
                <th>Дата</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="duty, stat : ${duties}">
                <td th:text="${duty.id}"></td>
                <td th:text="${duty.timestamp}"></td>
            </tr>
            </tbody>
        </table>
        <div class="field">
            <button type="submit" value="submit" class="btn btn-success">Delete reviews</button>
        </div>
    </form>
</div>
<div th:replace="fragments/footer :: footer"/>

</body>
</html>