<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>CASH</title>

    <div th:replace="fragments/menucash :: header-css"/>

</head>
<body>

<div th:replace="fragments/menucash :: header"/>
<div class="container">
    <br>
    <br>
    <br>
        <h1 th:text="${messageDuties}">Hello!</h1>
    <br>
    <th:block th:if="${duties != null}">
        <table class="table table-bordered table-hover table-striped">
            <thead>
            <tr>
                <th>Время открытия</th>
                <th>Номер смены</th>
                <th>Признак закрытия</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td th:text="${duties.timestamp}"></td>
                <td th:text="${duties.number}"></td>
                <td th:text="${duties.isClose}"></td>
            </tr>

            </tbody>
        </table>
        <form th:object="${duties}" method="post" action="/cash/duties/close_duties">
            <button class="btn btn-light btn-xs">Close Duties</button>
        </form>
    </th:block>

    <th:block th:if="${duties == null}">
        <form method="post" action="/cash/duties/open_duties">
            <button class="btn btn-light btn-xs">Open Duties</button>
        </form>
    </th:block>
</div>
<div th:replace="fragments/footer :: footer"/>

</body>
</html>