<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>CASH</title>
    <div th:replace="fragments/menucash :: header-css"/>
</head>
<body>
<div th:replace="fragments/menucash :: header"/>
<div class="container">

    <form class="form-horizontal" action="/cash/operation/payment20" method="post">
        <fieldset>
            <legend>Sale currency</legend>
            <div class="form-group">
                <label class="col-md-4 control-label">Currency</label>
                <div class="col-md-4">
                    <h4><select name="sprOperation" th:name="id">
                        <option th:each="currency,stat:${currencies}"
                                th:value="${currency.id}"
                                th:text="${currency.name}">
                        </option>
                    </select></h4>
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-4 control-label" for="sum">Sum</label>
                <div class="col-md-2">
                    <input id="sum" name="sum" th:value="100" type="text" placeholder=""
                           class="form-control input-md" required="">
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-4 control-label" for="buy"></label>
                <div class="col-md-4">
                    <button id="buy" name="buy" class="btn btn-primary">Enter</button>
                </div>
            </div>
        </fieldset>
    </form>
</div>
</body>
</html>